{{ partial "header" . }}

<main>
    <h1>{{ T "cdb-title" }}</h1>
    <input id="aa-search-input" class="aa-input-search" placeholder="{{ T "cdb-search-bar-placeholder" }}" type="search">
    <div id="company-details">
        <h2>{{ T "cdb-company-title" . }}</h2>
        {{ with .Params.categories }}<p><strong>{{ T "cdb-categories" (len .) }}</strong> {{ delimit (sort ( apply . "T" "." ) ) ", " }}</p>{{ end }}
        {{ with .Params.runs }}
            <p><strong>{{ T "cdb-runs" }}</strong></p>
            <ul>
                {{ range . }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}

        <p>{{ T "cdb-intro" . }}</p>

        {{ with .Params.address}}<p><strong>{{ T "cdb-address" }}</strong><br>{{ replace . "\n" "<br>" | safeHTML }}</p>{{ end }}
        {{ if or .Params.phone .Params.fax .Params.email .Params.web }}
        <table class="contact-table">
            {{ with .Params.phone }}<tr><td>{{ T "cdb-phone" }}</td><td>{{ . }}</td></tr>{{ end }}
            {{ with .Params.fax }}<tr><td>{{ T "cdb-fax" }}</td><td>{{ . }}</td></tr>{{ end }}
            {{ with .Params.email }}<tr><td>{{ T "cdb-email" }}</td><td><a href="mailto:{{ . }}">{{ . }}</a></td></tr>{{ end }}
            {{ with .Params.web }}<tr><td>{{ T "cdb-web" }}</td><td><a href="{{ . }}" rel="nofollow">{{ . }}</a></td></tr>{{ end }}
        </table>
        {{ end }}

        {{ with .Params.sources }}
            <p><strong>{{ T "cdb-sources" }}</strong></p>
            <ul>
                {{ range . }}
                    <li><a href="{{ . }}" rel="nofollow">{{ . }}</a></li>
                {{ end }}
            </ul>
        {{ end }}

        {{ with .Params.comments }}
            <p><strong>{{ T "cdb-notes" }}</strong></p>
            <ul>
                {{ range . }}
                    <li>{{ replace . "\n" "<br>" | safeHTML }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
    <div id="companies-help-needed">
        <!-- TODO: Style properly. -->
        {{ T "cdb-help-needed" | safeHTML }}
    </div>
</main>

{{ partial "footer" . }}
