{
    "presets": [
        ["@babel/preset-env",
        {
            "targets": {
                "node": "10"
            }
        }]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "preact.h"
            }
        ],
        ["@babel/plugin-transform-block-scoping"],
        ["@babel/plugin-proposal-class-properties"]
    ]
}
