{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "createElement",
                "pragmaFrag": "Fragment"
            }
        ],
        ["@babel/plugin-transform-block-scoping"],
        ["@babel/plugin-proposal-class-properties"],
        ["@babel/plugin-proposal-optional-chaining"],
        ["@babel/plugin-transform-runtime"]
    ]
}
