<div class="form-group"><label for="{{ .prefix }}-name">Name</label><input type="text" id="{{ .prefix }}-name" class="form-element"></div>
<div class="form-group"><label for="{{ .prefix }}-street-1">Adresse 1</label><input type="text" id="{{ .prefix }}-street-1" class="form-element"></div>
<div class="form-group"><label for="{{ .prefix }}-street-2">Adresse 2</label><input type="text" id="{{ .prefix }}-street-2" class="form-element"></div>
<div class="form-group"><label for="{{ .prefix }}-place">Ort</label><input type="text" id="{{ .prefix }}-place" class="form-element"></div>
<div class="form-group"><label for="{{ .prefix }}-country">Land</label><input type="text" id="{{ .prefix }}-country" class="form-element"></div>