<div class="form-group"><label for="request-name">Name</label><input type="text" id="request-name" class="form-element"></div>
<div class="form-group"><label for="request-street-1">Adresse 1</label><input type="text" id="request-street-1" class="form-element"></div>
<div class="form-group"><label for="request-street-2">Adresse 2</label><input type="text" id="request-street-2" class="form-element"></div>
<div class="form-group"><label for="request-place">Ort</label><input type="text" id="request-place" class="form-element"></div>
<div class="form-group"><label for="request-country">Land</label><input type="text" id="request-country" class="form-element"></div>