<div id="{{ .prefix }}-dynamic-input">
    <div class="dynamic-input dynamic-input-textarea" id="dynamic-input-1">
        <div class="col25">
            <div class="form-group"><label for="1-{{ .prefix }}-title" class="sr-only">Titel</label><input type="text" id="1-{{ .prefix }}-title" class="form-element"></div>
            <div class="col50"><button id="1-{{ .prefix }}-delete" rel="dynamic-input-1" class="dynamic-input-delete">Delete</button></div>
        </div>
        <div class="col75">
            <div class="form-group"><label for="1-{{ .prefix }}-content" class="sr-only">Titel</label><textarea id="1-{{ .prefix }}-content" class="form-element"></textarea></div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="dynamic-input dynamic-input-address" id="dynamic-input-2">
        <div class="col25">
            <div class="form-group"><label for="2-{{ .prefix }}-title" class="sr-only">Titel</label><input type="text" id="2-{{ .prefix }}-title" class="form-element"></div>
            <div class="col50"><button id="2-{{ .prefix }}-delete" rel="dynamic-input-2" class="dynamic-input-delete">Delete</button></div>
        </div>
        <div class="col75">
            {{ partial "forms/form-address" (dict "prefix" (printf "2-%s" .prefix)) }}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="dynamic-input dynamic-input-input" id="dynamic-input-3">
        <div class="col25">
            <div class="form-group"><label for="3-{{ .prefix }}-title" class="sr-only">Titel</label><input type="text" id="3-{{ .prefix }}-title" class="form-element"></div>
            <div class="col50"><button id="3-{{ .prefix }}-delete" rel="dynamic-input-2" class="dynamic-input-delete">Delete</button></div>
        </div>
        <div class="col75">
            <div class="form-group"><label for="3-{{ .prefix }}-content" class="sr-only">Titel</label><input id="3-{{ .prefix }}-content" class="form-element"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="dynamic-input-controls">
    <select id="dynamic-input-type">
        <option value="address">Adresse</option>
        <option value="textarea">Freitext (mehrzeilig)</option>
        <option value="input">Freitext (einzeilig)</option>
    </select>
    <button id="add-dynamic-inputs">Daten ergänzen</button>
</div>
