<fieldset>
    <legend>Anfrageparameter</legend>

    <div class="request-type-chooser">
        Was für eine Anfrage möchtest Du stellen?<br>
        <input type="radio" id="request-type-choice-access" name="request-type" value="access" class="form-element" checked> <label for="request-type-choice-access">Selbstauskunft</label>
        <input type="radio" id="request-type-choice-erasure" name="request-type" value="erasure" class="form-element"> <label for="request-type-choice-erasure">Löschantrag</label>
        <input type="radio" id="request-type-choice-rectification" name="request-type" value="rectification" class="form-element"> <label for="request-type-choice-custom">Berichtigungsantrag</label>
        <input type="radio" id="request-type-choice-custom" name="request-type" value="custom" class="form-element"> <label for="request-type-choice-custom">Eigener Text</label>
    </div>

    <div class="form-group fancy-fg recipient-form" style="margin-top: 17px;">
        An wen geht Deine Anfrage?<br>
        <textarea id="request-recipient" class="form-element" placeholder="Empfänger" rows="4" spellcheck="false"></textarea>
        <label class="sr-only" for="request-recipient">Empfänger</label>
        <input type="hidden" id="request-template" value="default">
    </div>
</fieldset>

<fieldset>
    <legend>Meine Daten</legend>
    Die Daten, die Du hier eingibst, helfen dem Unternehmen Dich zu identifizieren. Gib ruhig erst einmal zu wenig als zu viel an – im Zweifelsfall wird das Unternehmen schon nachfragen.<br>
    Wenn wir Erfahrungswerte zu Daten haben, die definitiv angegeben werden müssen, sind diese mit einem * gekennzeichnet.
    <div id="request-dynamic-input">
    </div>
    <div class="dynamic-input-controls">
        Du möchtest weitere Daten ergänzen? Kein Problem: Wähle einfach den passenden Feldtyp.<br>
        <select id="dynamic-input-type">
            <option value="input">Freitext (einzeilig)</option>
            <option value="textarea">Freitext (mehrzeilig)</option>
            <option value="address">Adresse</option>
        </select>
        <button id="add-dynamic-inputs">Feld hinzufügen</button>
    </div>
</fieldset>

<fieldset>
    <legend>Unterschrift</legend>
    Wenn Du möchtest, kannst Du Deine Anfrage hier unterschreiben. Zeichne dafür einfach mit gedrückter Maustaste in das Feld.
    <div id="signature-container"></div>
    <button id="signature-clear-button">Neu erstellen</button>
</fieldset>
