{{ define "header-with-bg" }}
<div id="verein-home-hero">
    <div id="verein-home-top-row">
        <div class="container">
            <div class="col33">
                <div class="verein-home-card">
                    <div class="top-icon"><img src="{{ "card-icons/check.svg" | absURL }}" alt="Ein Häkchen in einem Kasten."></div>
                    <h2>{{ T "verein-home-card-mission-heading" }}</h2>
                    <p>{{ T "verein-home-card-mission-content" | safeHTML }}</p>
                    <a href="{{ ref . "verein/mission-statement" }}" class="button button-secondary">{{ T "verein-home-card-mission-button" }}</span></a>
                </div>
            </div>
            <div class="col33" style="padding-top: 0;">
                <div class="verein-home-card">
                    <div class="top-icon" style="font-size: 35px;"><img src="{{ "card-icons/money.svg" | absURL }}" alt="Ein Euro-Zeichen in einem Kreis."></div>
                    <h2>{{ T "verein-home-card-donate-heading" }}</h2>
                    <p>{{ T "verein-home-card-donate-content" }}</p>
                    <a href="{{ ref . "donate" }}" class="button button-primary">{{ T "verein-home-card-donate-button" }}</a>
                </div>
            </div>
            <div class="col33 ">
                <div class="verein-home-card">
                    <div class="top-icon" style="font-size: 38px;"><img src="{{ "card-icons/group.svg" | absURL }}" alt="Umrisse von drei Personen."></div>
                    <h2>{{ T "verein-home-card-join-heading" }}</h2>
                    <p>{{ T "verein-home-card-join-content" }}</p>
                    <a href="{{ ref . "verein/become-a-member" }}" class="button button-secondary">{{ T "verein-home-card-join-button" }}</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{ end }}

{{ define "main" }}
<main>
    <div class="narrow-page">
        {{ .Content }}
    </div>
</main>
{{ end }}
