version: 2.1

executors:
  docker_hugo_node:
    docker:
      - image: node:13.14-alpine

jobs:
  build:
    executor: docker_hugo_node
    environment:
        - HUGO_VERSION: '0.83.1'
        - HUGO_BINARY: hugo_extended_0.83.1_linux-64bit
    steps:
      - run:
          command: |
            apk update
            apk add bash git wget ca-certificates autoconf automake build-base libc6-compat

            rm -rf /var/cache/apk/*
            mkdir /usr/local/hugo
            wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/${HUGO_BINARY}.tar.gz -O /usr/local/hugo/${HUGO_BINARY}.tar.gz
            tar xzf /usr/local/hugo/${HUGO_BINARY}.tar.gz -C /usr/local/hugo/
            ln -s /usr/local/hugo/hugo /usr/local/bin/hugo
            rm /usr/local/hugo/${HUGO_BINARY}.tar.gz
            rm -rf /tmp/* /var/cache/apk/*

      - checkout

      - run:
          command: |
            export CONTEXT="production"
            yarn install
            chmod +x deploy.sh
            ./deploy.sh

      - persist_to_workspace:
          root: ~/
          paths:
            - project/
            - .cache

  test:
      docker:
        - image: cypress/base:13.8.0
      environment:
        - HUGO_VERSION: '0.83.1'
        - HUGO_BINARY: hugo_extended_0.83.1_linux-64bit
      steps:
        - run:
            command: |
              mkdir /usr/local/hugo
              wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/${HUGO_BINARY}.tar.gz -O /usr/local/hugo/${HUGO_BINARY}.tar.gz
              tar xzf /usr/local/hugo/${HUGO_BINARY}.tar.gz -C /usr/local/hugo/
              ln -s /usr/local/hugo/hugo /usr/local/bin/hugo
              rm /usr/local/hugo/${HUGO_BINARY}.tar.gz

        - attach_workspace:
            at: ~/

        - run:
            command: |
              yarn
              yarn lint
              yarn cypress verify
              hugo server --baseURL "http://localhost" --disableFastRender --minify > /dev/null &
              # Only record the Cypress tests and submit to Percy if the Cypress env var is set, see:
              # https://stackoverflow.com/a/13864829
              if [ -z ${CYPRESS_RECORD_KEY+x} ]; then yarn cypress run; else yarn percy exec yarn cypress run --record; fi

  deploy:
      executor: docker_hugo_node
      steps:
        - attach_workspace:
            at: ~/

        - run:
            command: |
              yarn deploy-dattel

  production_test:
      docker:
        - image: cypress/base:13.8.0
      environment:
        - CYPRESS_baseUrl: 'https://www.datarequests.org'
        - CYPRESS_ENVIRONMENT: production
      steps:
        - checkout

        - run:
            command: |
              yarn
              yarn cypress verify
              yarn cypress run

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - test:
          requires:
              - build
      - deploy:
          requires:
              - test
          filters:
              branches:
                only:
                  - master

  scheduled_production_test:
      jobs:
        - production_test
      triggers:
        - schedule:
            cron: "0 7,12,17,22 * * *"
            filters:
              branches:
                only:
                  - master
