$white: hsb(0, 100%, 100%);
$black: hsb(0, 0%, 0%);

$blue-100: hsb(207.5, 9.68%, 97.25%);
$blue-200: hsb(209.39, 20.42%, 94.12%);
$blue-300: hsb(211.23, 31.88%, 89.8%);
$blue-400: hsb(220.22, 46.91%, 76.08%);
$blue-500: hsb(221.94, 58.19%, 69.41%);
$blue-600: hsb(223.49, 65.27%, 65.49%);
$blue-700: hsb(223.01, 77.4%, 57.25%);
$blue-800: hsb(229.52, 64.29%, 38.43%);
$blue-900: hsb(219.18, 66.22%, 29.02%);

$teal-100: hsb(148.57, 8.5%, 96.86%);
$teal-200: hsb(156.59, 17.67%, 90.98%);
$teal-300: hsb(160.87, 30.4%, 89.02%);
$teal-400: hsb(163.4, 44.98%, 81.96%);
$teal-500: hsb(165, 67.04%, 70.2%);
$teal-600: hsb(165.8, 83.97%, 61.18%);
$teal-700: hsb(169.66, 100%, 50.98%);
$teal-800: hsb(175.26, 100%, 30.2%);
$teal-900: hsb(173.08, 100%, 23.14%);

// These colors are taken from Tailwind CSS (https://tailwindcss.com/docs/customizing-colors#default-color-palette):
$gray-100: hsl(204, 45.5%, 97.8%);
$gray-200: hsl(210, 38.5%, 94.9%);
$gray-300: hsl(214, 31.8%, 91.4%);
$gray-400: hsl(211, 25.3%, 83.7%);
$gray-500: hsl(214, 20.3%, 69%);
$gray-600: hsl(216, 15%, 51.6%);
$gray-700: hsl(218, 16.9%, 34.9%);
$gray-800: hsl(218, 23.1%, 22.9%);
$gray-900: hsl(220, 25.7%, 13.7%);

$red-100: hsl(0, 100%, 98%);
$red-200: hsl(0, 95.1%, 92%);
$red-300: hsl(0, 97.4%, 84.7%);
$red-400: hsl(0, 95.3%, 74.7%);
$red-500: hsl(0, 87.8%, 67.8%);
$red-600: hsl(0, 76.3%, 57.1%);
$red-700: hsl(0, 60.8%, 48%);
$red-800: hsl(0, 55.8%, 39%);
$red-900: hsl(0, 46.8%, 31%);

$orange-100: hsl(40, 100%, 97.1%);
$orange-200: hsl(39, 96.4%, 89%);
$orange-300: hsl(38, 93.2%, 76.9%);
$orange-400: hsl(33, 89.9%, 64.9%);
$orange-500: hsl(27, 83.6%, 57.1%);
$orange-600: hsl(24, 74.7%, 49.6%);
$orange-700: hsl(20, 70.7%, 44.1%);
$orange-800: hsl(16, 65.1%, 37.1%);
$orange-900: hsl(14, 60.8%, 30%);

$yellow-100: hsl(60, 100%, 97.1%);
$yellow-200: hsl(58, 96.9%, 87.3%);
$yellow-300: hsl(55, 91.9%, 75.9%);
$yellow-400: hsl(51, 89.4%, 66.7%);
$yellow-500: hsl(47, 80.9%, 61%);
$yellow-600: hsl(40, 67.2%, 51%);
$yellow-700: hsl(36, 71%, 42%);
$yellow-800: hsl(32, 74.6%, 33.9%);
$yellow-900: hsl(30, 75.8%, 25.9%);

$green-100: hsl(136, 100%, 97.1%);
$green-200: hsl(139, 72.7%, 87.1%);
$green-300: hsl(141, 60.3%, 75.3%);
$green-400: hsl(143, 54.9%, 61.8%);
$green-500: hsl(145, 45.8%, 50.8%);
$green-600: hsl(148, 48.4%, 42.5%);
$green-700: hsl(150, 47.8%, 35.3%);
$green-800: hsl(152, 45.1%, 27.8%);
$green-900: hsl(152, 42.4%, 23.1%);

$pink-100: hsl(348, 100%, 98%);
$pink-200: hsl(343, 95.1%, 92%);
$pink-300: hsl(339, 89.6%, 84.9%);
$pink-400: hsl(336, 86%, 74.7%);
$pink-500: hsl(331, 79.2%, 66.1%);
$pink-600: hsl(329, 64.1%, 54.1%);
$pink-700: hsl(325, 57.3%, 45.9%);
$pink-800: hsl(322, 59.8%, 37.1%);
$pink-900: hsl(318, 51.4%, 29%);
