@import "variables";

#{$button} {
    padding: 11px 24px;
    border: 2px solid $primary-color;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $body-font;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    background-color: $bg-color;
    color: $primary-color;
    display: inline-block;
    line-height: 1.2;

    &:hover {
        background-color: $primary-darker-color;
        color: #fff !important;
        border: 2px solid $primary-darker-color;
    }

    &.disabled, &:disabled {
        background-color: $gray-color;
        border: 2px solid $gray-darker-color;
        color: $gray-darker-color !important;
        cursor: not-allowed;
    }
}
.button-primary, a.button-primary {
    background-color: $primary-color;
    color: #fff !important;

    &.disabled, &:disabled {
        background-color: $gray-color;
        border: 2px solid $gray-darker-color;
        color: $gray-darker-color !important;
    }
}
.button-secondary, a.button-secondary {
    background-color: $bg-color;
    color: $primary-color !important;
}
.button.icon:before, button.icon:before {
    margin-right: 12px;
}
.button-small {
    padding: 5px 8px;
}

canvas {
    border: 2px solid $primary-color;
    border-radius: 2px;
}

#{$text-inputs} {
    border: 2px solid $primary-color; /*none*/
    border-radius: 2px;
    padding: 7px;
    box-sizing: border-box;
    appearance: none;
    /*background-color: $gray-color;*/
    color: $primary-color;
    font-family: $body-font;
    font-size: $font-size - 2px;

    &.form-element {
        width: 100%;
    }
}
textarea.form-element {
    max-width: 100%;
    min-width: 100%;
    line-height: 1.6;
}
input::placeholder, textarea::placeholder {
    color: $gray-darker-color;
}
input:required {
    background: #ffffff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='9px' width='15px'><text x='0' y='16' fill='rgb(111, 221, 204)' font-size='20' font-family='Fira Sans'>*</text></svg>") no-repeat right;
    padding-right: 20px;
    box-shadow: none !important;
}

@mixin disabled-input {
    background-color: $gray-color;
    border: 2px solid $gray-darker-color;
    color: $gray-darker-color !important;
    cursor: not-allowed;
}
input.readonly, input:disabled, input:read-only { @include disabled-input; }
input:-moz-read-only {
    @include disabled-input;
    // DO NOT REMOVE THIS COMMENT
    // These comments are needed because firefox is unable to sensibly parse CSS. Therefore this has to be a very special snowflake.
}


.box {
    border: 4px solid #003bff;
    border-radius: 2px;
    box-sizing: border-box;
    /*box-shadow: 0 3px 40px rgba(0, 0, 0, 0.2);*/
    border: 4px solid $primary-color;
    border-radius: 2px;
    padding: 20px;
}
.box-error { border-color: #d8000c; }
.box-warning { border-color: #ffc107; }
.box-info { border-color: #bde5f8; }
.box-success { border-color: #28a745; }

.select-container {
    position: relative;
    width: 200px;

    select {
        appearance: none; /* TODO: This is actually a little debatable, since appearance is as of now not supported in every browser (especially IE 11, Edge does though with -webkit- prefix weirdly enough). But it is not breaking, so I think it is ok this way */
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-right: 30px;
        width: 100%;
        background-color: #ffffff;
    }

    .icon {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $primary-color;
    }
}

/* Radio Buttons */
.radio-label {
    input.form-element {
        display: none;
    }

    display: inline-block;
    border: 2px solid $primary-color;
    padding: 10px;
    border-radius: 0;
    background-color: $bg-color;
    color: $primary-color;
    border-left: none;
    margin-bottom: 5px;

    &:first-child {
        border-radius: 2px 0 0 2px;
        border-left: 2px solid $primary-color;
    }

    &:last-child {
        border-radius: 0 2px 2px 0;
    }

    &:hover, &.active {
        background-color: $primary-color;
        color: $bg-color;
    }
}

/* Checkboxes */

input[type="checkbox"].form-element {
    border: 2px solid $primary-color;
    appearance: none; /* TODO: This is actually a little debatable, since appearance is as of now not supported in every browser (especially IE 11, Edge does though with -webkit- prefix weirdly enough). But it is not breaking, so I think it is ok this way */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    margin: 0;
    margin-right: 10px;
    float: left;

    &:checked {
        background: linear-gradient($primary-color, $primary-color) 50% 50% / 15px 15px;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

/* Adapted after: https://www.algolia.com/doc/tutorials/search-ui/autocomplete/auto-complete */
.aa-input-container {
    display: inline-block;
    position: relative;
}
.algolia-autocomplete { width: 100%; }
.aa-input-search, input[type="search"].aa-input-search {
    padding: 12px 28px 12px 12px;
    width: 100%;
    background-color: #FFFFFF;
    /* box-shadow: $shadow; */
    border: 4px solid $primary-color;
    border-radius: 2px;

    // Fix search input in Webkit/Safari (see https://stackoverflow.com/a/34802612)
    -webkit-appearance: textfield;
    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}
.aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(228, 228, 228, 0.6);
    width: 100%;
    box-sizing: border-box;
}
.aa-suggestion {
    padding: 12px;
    cursor: pointer;
}
.aa-suggestion + .aa-suggestion { border-top: 1px solid rgba(228, 228, 228, 0.6); }
.aa-suggestion:last-of-type { border-bottom: 1px solid rgba(228, 228, 228, 0.6); }
.aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35);
}

.aa-suggestion mark {
    background: inherit;
    color: inherit;
    font-style: italic;
}

/* Modal */
/* adapted after: https://jsfiddle.net/developit/2kLkaxvd/ */

.modal {
    display: block;
}

.modal > .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    animation: fadeIn 300ms ease forwards 1;
    cursor: no-drop;
}
@keyframes fadeIn {
    0% { opacity: 0; }
}

.modal > .inner {
    position: fixed;
    z-index: 999;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    width: 500px;
    padding: 20px;
    padding-top: 35px;
    transform: translate(-50%, -50%);
    background: #FFF;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    animation: in 300ms ease forwards 1;
    overflow-y: auto;
    max-height: 95vh;

    a.close-button {
        color: $primary-color;
        font-size: 8px;
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;

        &:hover { color: $primary-darker-color; }
    }

    .button, button {
        @include mobile {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    @include mobile {
        max-width: 90vw;
    }
}
@keyframes in {
    0% { opacity:0; transform:translate(-50%, 0%) scale(0.7); }
}

.modal .button-group {
    margin-top: 20px;
}

/* Accordion */

.accordion {
    .accordion-title {
        margin-top: 15px;
        font-size: $font-size;
        font-weight: bold;

        .icon {
            float: right;
        }

    }

    a.accordion-title-link {
        color: $text-color;
    }
}

/* TextScroll */

.textscroll {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0;

    @include mobile {
        flex-wrap: wrap;
    }

    li {
        display: block;
        text-align: center;
        flex: 1;
        border-radius: 2px;

        &.active {
            background-color: $primary-color;

            a {
                color: $bg-color;
            }
        }

        a {
            font-size: 20px;
            color: $text-color;
            padding: 5px;
        }
    }
}

/* i18n */
.i18n-button {
    display: block;
    width: 100%
}

.dropup.i18n-widget-container {
    border: 2px solid $primary-color;
    border-radius: 2px;
    background: $bg-color;
    width: 400px;
    left: 0;
    bottom: 100%;
    margin-bottom: -2px;
    padding: 10px;

    @include mobile {
        width: 100%;
    }
}
.i18n-widget {
    .select-container {
        width: 100%;
    }
}

#personal-menu-i18n-widget {
    padding: 15px;
    border-top: 2px solid $primary-color;
}

/* Dropdown and -up */

.dropdown-container, .dropup-container {
    position: relative;

    &:hover, &:focus, &:focus-within {
        .dropdown, .dropup {
            display: block;
            position: absolute;
            z-index: 998;
        }
    }

    .dropdown, .dropup {
        display: none;
    }
}
