@import "variables";

/* Fancy placeholder labels, see https://jonathan-harrell.com/advanced-css-form-styling/ */
label.fancy-label {
    position: absolute;
    bottom: -5px;
    left: 7px;
    font-size: 0.75em;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}
.form-group.fancy-fg { padding-bottom: 13px; }
input:placeholder-shown + label.fancy-label, textarea:placeholder-shown + label.fancy-label {
    opacity: 0;
    transform: translateY(-1rem);
}

/* Generator Header */

#generator-header {
    margin-bottom: 15px;

    #generator-controls {
        float: right;
    }

    #generator-heading {
        display: inline-block;
        margin: 9px 0;
    }
}

/* Inputs */

.dynamic-input-controls {
    .select-container {
        float: left;

        select {
            height: $button-height;
        }
    }

    button {
        margin-left: 10px;
        float: left;
    }
}

/* PDF Viewer */

.company-info {
    margin-bottom: 20px;
    position: relative;

    h1 {
        padding-right: 30px;
        margin-left: 25px;
        position: relative;
        font-size: 20px;

        .icon {
            font-size: 23px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    a.company-name-link {
        color: $text-color !important;
    }

    .company-info-label {
        font-weight: bold;
    }

    button.company-remove {
        position: absolute;
        top: -4px;
        left: -4px;
    }

    .company-read-more {
        margin-top: 15px;
        float: left;
    }
}

#form-container {
    margin-right: 20px;
    margin-bottom: 20px;
}

#content-container {
    min-height: 500px;
    position: relative;
}

#pdf-viewer {
    border: 0;
    width: 100%;
    height: 800px;
    margin-top: 50px;
}
#pdf-viewer.empty {
    display: none;
}
#download-button {
    position: absolute;
    top: -4px;
    left: -4px;
}

/* Miscellaneous */

.dynamic-input-primaryButton[data-isprimary="true"] {
    background: $primary-color;
    color: $gray-color;
}

#tagxplanation {
    font-size: 9pt;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
