$primary-color: #003BFF;
$primary-lighter-color: #009dff;
$primary-darker-color: #002cc0;
$accent-color: #01DDBB;
$accent-lighter-color: #66ffe6;
$accent-darker-color: #01DDBB;
$bg-color: #FFFFFF;
$bg-accent-color: #F0F7FF;
$gray-color: #f0f0f0;
$gray-darker-color: #696969;

$text-color: #333;

$heading-font: "League Spartan", Helvetica, sans-serif;
$body-font: "Fira Sans", Helvetica, sans-serif;

$font-size: 16px;

$shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
