<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {{ block "title" . }}
        {{ if .Title}}{{ .Title }}{{ else if .Params.name}}{{ .Params.name }}{{ end }} &middot; {{ .Site.Title }}
        {{ end }}
    </title>

    <link rel="stylesheet" href="{{ "css/style.gen.css" | absURL }}"/>

    {{ partial "head/meta.html" . }}
    {{ partial "head/favicons.html" . }}
</head>
<body>
<header id="nav-header">
    <div id="nav-header-bg"></div>
    <div id="header-main" class="container">
        <a href="{{ "/" | absURL }}"><img id="logo" src="{{ T "logo" . | absURL }}"></a> <!-- TODO: Change depending on language. -->
        <nav id="main-nav">
            <div id="menu-items">
                <a href="{{ "company" | absURL }}">{{ T "header-cdb" }}</a>
                <a href="{{ "my-requests" | absURL }}">{{ T "header-my-requests" }}</a>
                <a href="{{ "blog" | absURL }}">{{ T "header-blog" }}</a>

                <a class="button button-primary icon icon-letter" href="{{ "generator" | absURL }}">{{ T "header-generator" }}</a>
            </div>
        </nav>
    </div>
</header>
{{ if .IsHome }}
<div id="home-hero-bg"></div>
{{ else }}
<div id="heading-bg">
    <div id="heading" class="container"><h1>{{ block "heading" . }}{{ .Title }}{{ end }}</h1></div>
</div>
{{ end }}
<div class="container">
    {{ block "main" . }}
    {{ end }}

    <footer>
        {{ if .IsTranslated }}
        {{ T "footer-other-langs" }}
        {{ range .Translations }}
        <a rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">{{ T .Lang }}</a>
        {{ end}}
        {{ end }}
        <span style="float: right;">We <3 Datenschutz.
        <a href="{{ "/privacy-controls" | absURL }}">{{ T "footer-privacy-controls" }}</a> &middot;
        <a href="{{ "/privacy" | absURL }}">{{ T "footer-privacy-policy" }}</a> &middot;
        <a href="{{ "/contact" | absURL }}">{{ T "footer-legal-notice" }}</a>
    </span>
    </footer>
</div>
{{ partial "scripts" . }}
{{ block "scripts" . }}
{{ end }}
</body>
</html>
