{{ define "main" }}
<main>
    <article class="page">
        <div id="page-content">
            {{ .Content }}
        </div>

        {{ if and (eq .Type "blog") }}
            {{ if isset .Params "byline" }}
            <header id="page-meta">
                <address class="author">
                    {{ T "blog-written-by" }} {{ .Params.byline | markdownify }}{{ with .Params.date }}<br>{{ T "blog-written-on" }} <time pubdate datetime="{{ .Format "2006-01-02T15:04" }}">{{ .Format "2006-01-02" }} {{ T "blog-time-at" }} {{ .Format "15:04" }}</time>{{- end -}}
                    {{ with .Params.last_edited }}{{T "blog-last-edited" }} <time datetime="{{ dateFormat "2006-01-02T15:04" . }}">{{ dateFormat "2006-01-02" . }} {{ T "blog-time-at" }} {{ dateFormat "15:04" . }}</time>{{ end }}
                </address>
            </header>
            {{ end }}
            {{ if (not .Params.disable_comments) }}
        	    <div id="comments-widget"></div>
            {{ end }}
        {{ end }}
    </article>
</main>
{{ end }}

{{ define "heading" }}
{{ if .Params.heading }}
	{{ .Params.heading | markdownify }}
{{ else }}
	{{ .Title }}
{{ end }}
{{ end }}
