{{ define "main" }}
{{ if .Params.license }}
{{ $.Scratch.Set "license" .Params.license }}
{{ else }}
{{ $.Scratch.Set "license" "cc-by-40"}}
{{ end }}

<main>
    <article class="page">
        <div id="page-content">
            {{ .Content }}
        </div>

        <!-- `.Params.blog_like` is a stupid workaround but I don't see how we could inject scripts into blog posts without a custom `type` for each one. -->
        {{ if or (eq .Type "blog") (eq .Type "act") .Params.blog_like }}
        {{ if isset .Params "authors" }}
        <header id="page-meta">
            <address class="author">
                {{ T "blog-written-by" }}
                {{ delimit (apply (apply .Params.authors "index" $.Site.Params.authors ".") "index" "." "byline") ", " (T "blog-and") | markdownify }}{{ with .Params.date }}<br>{{ T "blog-written-on" }}
                <time pubdate datetime="{{ .Format "2006-01-02T15:04" }}">{{ .Format "2006-01-02" }}
                    {{ T "blog-time-at" }}
                    {{ .Format "15:04" }}</time>{{- end -}}
                {{ with .Params.last_edited }}{{T "blog-last-edited" }} <time
                    datetime="{{ dateFormat "2006-01-02T15:04" . }}">{{ dateFormat "2006-01-02" . }}
                    {{ T "blog-time-at" }} {{ dateFormat "15:04" . }}</time>{{ end }}
                <br>{{ T "blog-licensed-under" }} <a
                    href="{{ T (printf "lic-url-%s" ($.Scratch.Get "license")) }}">{{ T (printf "lic-%s" ($.Scratch.Get "license")) }}</a>
                <span class="hidden" xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset"
                    property="dct:title" rel="dct:type">{{ .Title }}</span>
                    {{ with .Params.notices }}<p>{{ . | markdownify }}</p>{{ end }}
            </address>
        </header>
        {{ end }}
        {{ if (not .Params.disable_comments) }}
        <div id="comments-widget"></div>
        {{ end }}
        {{ end }}
    </article>
</main>
{{ end }}

{{ define "heading" }}
{{ if .Params.heading }}
{{ .Params.heading | markdownify }}
{{ else }}
{{ .Title }}
{{ end }}
{{ end }}
