main#app {
    margin-top: 20px;
}

.wizard-header {
    display: flex;
    flex-direction: row;
}

#review-company-button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    font-size: 17px;
}
