@import 'variables';

/* Fancy placeholder labels, see https://jonathan-harrell.com/advanced-css-form-styling/ */
label.fancy-label {
    position: absolute;
    bottom: -5px;
    left: 7px;
    font-size: 0.75em;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;

    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
.form-group.fancy-fg {
    padding-bottom: 13px;
}

input:placeholder-shown + label.fancy-label,
textarea:placeholder-shown + label.fancy-label {
    opacity: 0;
    transform: translateY(-1rem);
}

/* Generator header */

#generator-header {
    margin-bottom: 15px;

    #generator-controls {
        float: right;

        @include mobile {
            float: none;
        }

        .button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            @include mobile {
                margin-top: 10px;
            }
        }
    }

    #generator-heading {
        display: inline-block;
        margin: 9px 0;
    }
}

/* Inputs */

.action-button-container {
    padding-right: 45px;
    position: relative;

    .dynamic-input-action {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.dynamic-input-controls {
    .select-container {
        float: left;
        margin-right: 10px;

        select {
            height: $button-height;
        }

        @include mobile {
            margin-bottom: 10px;
        }
    }

    .button {
        float: left;
    }

    .dropdown-container {
        .button-primary {
            padding: 11px 15px;
            position: absolute;
            right: 0;
        }

        .dropdown {
            width: 300px;
            top: 43px;
            right: 0;
            padding: 15px;

            .fill-field {
                display: table-row;

                .fill-field-value {
                    color: color('gray', 700);
                }

                .button {
                    float: none;
                    position: relative;
                }
            }
        }
    }
}
.request-form {
    .col50 {
        @include mobile {
            width: 100%;
        }
    }
}

/* PDF viewer (not exactly accurate anymore, is it? :D) */

.company-info {
    margin-bottom: 20px;
    position: relative;

    .accordion-title {
        padding: 3px 30px 0 0;
        margin: 0 0 0 25px;
        position: relative;
        font-size: 20px;

        .icon {
            font-size: 23px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .company-info-label {
        font-weight: bold;
    }

    .button.company-remove {
        position: absolute;
        top: -4px;
        left: -4px;
    }

    .company-read-more {
        margin-top: 15px;
        float: left;
    }
}

#form-container {
    margin-bottom: 20px;
}

// Debugging View
#content-container {
    min-height: 500px;
    position: relative;
    margin-top: 25px;

    #pdf-viewer {
        width: 100%;
        height: 100%;
        min-height: 500px;
    }
}

/* Miscellaneous */

.dynamic-input-primaryButton {
    @include mobile {
        hyphens: auto;
    }
}

.button.button-secondary.dynamic-input-primaryButton[data-isprimary='true'] {
    background: $primary-color;
    color: $bg-color !important;
}

#tagxplanation {
    font-size: 9pt;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.request-transport-medium-chooser {
    margin-top: 17px;
}
