%icon {
    vertical-align: middle;
}

.inline-icon.inline-icon-left {
    padding-right: 5px;
}
.inline-icon.inline-icon-right {
    padding-left: 5px;
}

.icon-letter:before {
    @extend %icon;
    font-icon: 150% url('letter.svg');
    vertical-align: -7px;
}

.icon-pencil:before {
    @extend %icon;
    font-icon: 130% url('pencil.svg');
    vertical-align: -4px;
}

.icon-trash:before {
    @extend %icon;
    font-icon: url('trash.svg');
    vertical-align: -3px;
}

.icon-arrow-down:before {
    @extend %icon;
    font-icon: url('arrow-down.svg');
    vertical-align: -3px;
}

.icon-arrow-up:before {
    @extend %icon;
    font-icon: url('arrow-up.svg');
    vertical-align: -3px;
}

.icon-arrow-right:before {
    @extend %icon;
    font-icon: url('arrow-right.svg');
    vertical-align: -3px;
}

.icon-arrow-left:before {
    @extend %icon;
    font-icon: url('arrow-left.svg');
    vertical-align: -3px;
}

.icon-menu:before {
    @extend %icon;
    font-icon: url('menu.svg');
    vertical-align: -3px;
}

.icon-fill:before {
    @extend %icon;
    font-icon: url('fill.svg');
    vertical-align: -3px;
}

.icon-print:before {
    @extend %icon;
    font-icon: url('print.svg');
    vertical-align: -3px;
}

.icon-download:before {
    @extend %icon;
    font-icon: url('download.svg');
    vertical-align: -3px;
}

.icon-email:before {
    @extend %icon;
    font-icon: url('email.svg');
    vertical-align: -3px;
}

.icon-paper-plane:before {
    @extend %icon;
    font-icon: url('paper-plane.svg');
    vertical-align: -3px;
}

.icon-delivery-truck:before {
    @extend %icon;
    font-icon: url('delivery-truck.svg');
    vertical-align: -3px;
}

.icon-i18n:before {
    @extend %icon;
    font-icon: 200% url('i18n.svg');
    vertical-align: -10px;
}

.icon-close:before {
    @extend %icon;
    font-icon: 200% url('close.svg');
    vertical-align: -3px;
}

.icon-json-document:before {
    @extend %icon;
    font-icon: 120% url('json-document.svg');
    vertical-align: -2px;
}

.icon-rss:before {
    @extend %icon;
    font-icon: url('rss.svg');
}

.icon-mastodon:before {
    @extend %icon;
    font-icon: url('mastodon.svg');
}

.icon-twitter:before {
    @extend %icon;
    font-icon: url('twitter.svg');
}

.icon-github:before {
    @extend %icon;
    font-icon: url('github.svg');
}

.icon-matrix:before {
    @extend %icon;
    font-icon: url('matrix.svg');
}

.icon-code:before {
    @extend %icon;
    font-icon: 120% url('code.svg');
    vertical-align: -4px;
}

.icon-external:before {
    @extend %icon;
    font-icon: url('external.svg');
}

.icon-check-badge:before {
    @extend %icon;
    font-icon: url('check-badge.svg');
    vertical-align: -2px;
}

.icon-question-badge:before {
    @extend %icon;
    font-icon: url('question-badge.svg');
    vertical-align: -2px;
}
