<footer>
    {{ if .IsTranslated }}
    {{ T "footer-other-langs" }}
    {{ range .Translations }}
        <a href="{{ .Permalink }}">{{ T .Lang }}</a>
    {{ end}}
    {{ end }}
    <span style="float: right;">We <3 Datenschutz.
        <a href="{{ "/privacy-controls" | absURL }}">{{ T "footer-privacy-controls" }}</a> &middot;
        <a href="{{ "/privacy" | absURL }}">{{ T "footer-privacy-policy" }}</a> &middot;
        <a href="{{ "/contact" | absURL }}">{{ T "footer-legal-notice" }}</a>
    </span>
</footer>
</div>
{{ partial "scripts" . }}
</body>
</html>
