<link rel="stylesheet" href="{{ "css/loader.gen.css" | absURL }}" />
<style>
.sk-folding-cube {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 999;
}
</style>
<div id="loading-indicator" class="hidden">
    <div class="backdrop"></div>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<script>
    document.getElementById('loading-indicator').onclick = function (e) {
        document.getElementById('loading-indicator').classList.add('hidden');
    }
</script>
