{{ $supported_countries := (partialCached "supported-countries" .) }}
{{ $supported_languages := (partialCached "supported-languages" .) }}

<script>
    // (p)react needs to be notified on changes of `country`, so we use a getter and setter (added in `general.js`. Not exactly pretty but oh well. See: https://stackoverflow.com/a/37403125
    // I briefly considered abstracting this away for new properties in the future but decided against it. Doing something like this *should* hurt and require extra ugly code.
    var globals = {
        _country_listeners: [],
        addCountryListener: function(listener) { this._country_listeners.push(listener); }
    };
</script>

<script src="{{ "js/translations-requests.gen.js" | absURL }}"></script>


{{ $defines := dict "process.env.NODE_ENV" `"development"`  "global" "window"  "LOCALE"  (printf `"%s"` .Site.Language.Lang) "COUNTRIES_WITH_SUGGESTED_COMPANIES" "['de', 'gb']"  "BASE_URL" (printf `"%s"` ("/" | absURL)) }}
{{ $params := (dict "supported_languages" $supported_languages "supported_countries" $supported_countries)}}
{{ $opts := dict "target" "esnext"  "JSXFactory" "h"  "JSXFragment" "Fragment" "defines" $defines  "sourceMap" "inline"  "minify" true "params" $params}}

{{ $general_js := resources.Get "js/general.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $general_js.RelPermalink }}" integrity="{{ $general_js.Data.Integrity }}"></script>

{{ $error_handler_js := resources.Get "js/error-handler.js" | js.Build $opts | fingerprint}}
<script src="{{ $error_handler_js.RelPermalink }}" integrity="{{ $error_handler_js.Data.Integrity }}"></script>

{{ if eq .Type "generator" }}
{{ $pdf_worker_js := resources.Get "js/Utility/pdf.worker.js" | js.Build (dict "target" "esnext" "sourceMap" "inline"  "minify" true) | fingerprint}}
{{ $generator_js := resources.Get "js/generator.jsx" | js.Build (merge $opts (dict "defines" (dict "PDF_WORKER_URL" (printf `"%s"` $pdf_worker_js.RelPermalink)))) | fingerprint}}
<script src="{{ $generator_js.RelPermalink }}" integrity="{{ $generator_js.Data.Integrity }}"></script>
{{ end }}

{{ if or (eq .Type "company") (eq .Type "categories") }}
{{ $company_list_js := resources.Get "js/company-list.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $company_list_js.RelPermalink }}" integrity="{{ $company_list_js.Data.Integrity }}"></script>
{{ end }}

{{ if eq .Type "my-requests" }}
{{ $my_requests_js := resources.Get "js/my-requests.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $my_requests_js.RelPermalink }}" integrity="{{ $my_requests_js.Data.Integrity }}"></script>
<script>renderMyRequestsWidget();</script>
{{ end }}

{{ if eq .Type "privacy-controls" }}
{{ $privacy_controls_js := resources.Get "js/privacy-controls.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $privacy_controls_js.RelPermalink }}" integrity="{{ $privacy_controls_js.Data.Integrity }}"></script>
{{ end }}

{{ if eq .Type "id-data-controls" }}
{{ $id_data_controls_js := resources.Get "js/id-data-controls.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $id_data_controls_js.RelPermalink }}" integrity="{{ $id_data_controls_js.Data.Integrity }}"></script>
{{ end }}

{{ if eq .Type "suggest" }}
{{ $suggest_edit_js := resources.Get "js/suggest-edit.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $suggest_edit_js.RelPermalink }}" integrity="{{ $suggest_edit_js.Data.Integrity }}"></script>
{{ end }}

{{ if eq .Type "supervisory-authorities" }}
{{ $sva_finder_js := resources.Get "js/Components/SvaFinder.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $sva_finder_js.RelPermalink }}" integrity="{{ $sva_finder_js.Data.Integrity }}"></script>
<script>renderSvaFinder();</script>
{{ end }}

{{ if eq .Type "act" }}
{{ $act_widget_js := resources.Get "js/Components/ActWidget.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $act_widget_js.RelPermalink }}" integrity="{{ $act_widget_js.Data.Integrity }}"></script>
{{ end }}

{{ if eq .Type "donate" }}
{{ $donation_widget_js := resources.Get "js/Components/DonationWidget.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $donation_widget_js.RelPermalink }}" integrity="{{ $donation_widget_js.Data.Integrity }}"></script>
<script>renderDonationWidget();</script>
{{ end }}

{{ if .IsHome }}
{{ $home_js := resources.Get "js/home.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $home_js.RelPermalink }}" integrity="{{ $home_js.Data.Integrity }}"></script>
{{ end }}

{{/* TODO: Do this in the js build via hugo pipes */}}
{{ if eq .Type "donate" }}
{{ $loader := resources.Get "styles/loader.scss" | toCSS (dict "enableSourceMap" .Site.Params.devMode) | postCSS (dict "config" "postcss.config.js" "noMap" true) | minify | fingerprint }}
{{ $link := $loader.RelPermalink | absURL }}
{{ if (or (eq hugo.Environment "production") (eq hugo.Environment "staging")) }}
{{ $link = $link | replaceRE "\\.[^\\.]*(\\.[^\\.]*)$" "$1" }}
{{ end }}
<link rel="stylesheet" href="{{ $link }}" integrity="{{ $loader.Data.Integrity }}">
{{ end }}

{{ if .Site.Params.devMode }}
<script>window.hugoDevMode = true;</script>
{{ $test_interface_js := resources.Get "js/test-interface.jsx" | js.Build $opts | fingerprint}}
<script src="{{ $test_interface_js.RelPermalink }}" integrity="{{ $test_interface_js.Data.Integrity }}"></script>
{{ end }}
