{{ if eq .Type "generator" }}
<script src="{{ "js/pdfmake.min.js" | absURL }}"></script>
<script src="{{ "js/vfs_fonts.js" | absURL }}"></script>
<!--<script src="{{ "js/algoliasearch.min.js" | absURL }}"></script>-->
<!--<script src="{{ "js/autocomplete.min.js" | absURL }}"></script>-->
<!--<script src="{{ "js/company-search.js" | absURL }}"></script>-->
<script src="{{ "js/generator.gen.js" | absURL }}"></script>
<!--<script>-->
    <!--// Very big TODO: This has to somehow move so that we can use the suggestion data-->
<!--algolia_autocomplete.on('autocomplete:selected', function(event, suggestion, dataset) {-->
    <!--generateDynamicFields(suggestion['required-elements-access']);-->
    <!--document.getElementById('request-template').value = suggestion['custom-access-template'] || 'default';-->
    <!--var recipient_input = document.getElementById('request-recipient');-->
    <!--recipient_input.value = suggestion.name + '\n' + suggestion.address;-->
    <!--recipient_input.onchange();-->
<!--});-->
<!--</script>-->
{{ end }}

{{ if eq .Type "company" }}
<script src="{{ "js/algoliasearch.min.js" | absURL }}"></script>
<script src="{{ "js/autocomplete.min.js" | absURL }}"></script>
<script src="{{ "js/company-search.js" | absURL }}"></script>
<script>
    algolia_autocomplete.on('autocomplete:selected', function(event, suggestion, dataset) {
        location.href = '/company/' + suggestion.slug;
    });
</script>
{{ end }}

{{ if .IsHome }}
<script>
    /* modified after https://codepen.io/danielgroen/pen/VeRPOq */
    window.onload = function() {
        var dataText = [ "Datenauskunft.", "Vergessenwerden.", "Datenberichtigung.", "Widerspruch.", "Datenschutz!"];

        function typeWriter(text, i, fnCallback) {
            if (i < (text.length)) {
                document.getElementById("home-hero-word").innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

                setTimeout(function() {
                    typeWriter(text, i + 1, fnCallback)
                }, 150);
            }
            else if (typeof fnCallback == 'function') {
                setTimeout(fnCallback, 700);
            }
        }
        function StartTextAnimation(i) {
            if (typeof dataText[i] == 'undefined'){
                setTimeout(function() {
                    StartTextAnimation(0);
                }, 20000);
            }
            if (i < dataText[i].length) {
                typeWriter(dataText[i], 0, function(){
                    StartTextAnimation(i + 1);
                });
            }
        }
        StartTextAnimation(0);
    };
</script>
{{ end }}
