<!-- Ugly workaround since `(apply .Params.categories "T" ".")` stopped working at some point (see #135). -->
{{ .Scratch.Set "categories" slice }}
{{ range .Params.categories }}
    {{ $.Scratch.Add "categories" (T .) }}
{{ end }}

<article class="company-article company-summary">
	<h1><a href="{{ .Permalink }}" class="no-link-decoration">{{ .Params.name }}</a></h1>
	{{ with .Params.categories }}<div><strong>{{ T "cdb-categories" (len .) }}</strong> {{ delimit (sort ($.Scratch.Get "categories")) ", " }}</div>{{ end }}
	{{ with .Params.runs }}<div><strong>{{ T "cdb-runs" }}</strong> {{ delimit . ", " }}</div>{{ end }}
</article>
