<article class="company-article company-summary" style="margin-bottom: 50px;">
	<h1><a href="{{ .Permalink }}" class="no-link-decoration">{{ .Params.name }}</a></h1>
	{{ with .Params.address}}
        <div class="col40 col100-mobile"><strong>{{ T "cdb-address" }}</strong><br>{{ replace . "\n" "<br>" | safeHTML }}</div>
    {{ end }}

    {{ if or .Params.phone .Params.fax .Params.email .Params.web }}
        <div class="col60 col100-mobile">
            <table class="contact-table narrow-table">
                {{ with .Params.phone }}<tr><td><strong>{{ T "cdb-phone" }}</strong></td><td>{{ . }}</td></tr>{{ end }}
                {{ with .Params.fax }}<tr><td><strong>{{ T "cdb-fax" }}</strong></td><td>{{ . }}</td></tr>{{ end }}
                {{ with .Params.email }}<tr><td><strong>{{ T "cdb-email" }}</strong></td><td><a href="mailto:{{ . }}">{{ . }}</a></td></tr>{{ end }}
                {{ with .Params.web }}<tr><td><strong>{{ T "cdb-web" }}</strong></td><td><a href="{{ . }}" rel="nofollow">{{ . }}</a></td></tr>{{ end }}
            </table>
        </div>
    {{ end }}
    <div class="clearfix"></div>
    <a href="{{ .Permalink }}" class="button button-secondary button-small" style="float: right;">{{ T "adb-more-details" }}</a>
    <div class="clearfix"></div>
</article>
