<!-- Sooo, this is the easiest way *I* found to collect all countries with more than n records. If there's a better way, *please* implement that instead! -->
{{ $.Scratch.Set "country_counts" (dict) }}
{{ range where $.Site.Pages "Type" "company" }}
{{ range .Param "relevant-countries" }}
{{ if not (isset ($.Scratch.Get "country_counts") .) }}
{{ $.Scratch.SetInMap "country_counts" . 1 }}
{{ else }}
{{ $.Scratch.SetInMap "country_counts" . (add (index ($.Scratch.Get "country_counts") .) 1) }}
{{ end }}
{{ end }}
{{ end }}

<script>
    const SUPPORTED_COUNTRIES = [
    {{ range $key, $val := ($.Scratch.Get "country_counts") }}
    {{ if ge $val 10 }}
    '{{ $key }}',
    {{ end }}
    {{ end }}
    ];
</script>
