{{ $.Scratch.Set "country_counts" (dict) }}

{{ range where $.Site.Pages "Type" "company" }}
    {{ range .Param "relevant-countries" }}
        {{ if not (isset ($.Scratch.Get "country_counts") .) }}
            {{ $.Scratch.SetInMap "country_counts" . 1 }}
        {{ else }}
            {{ $.Scratch.SetInMap "country_counts" . (add (index ($.Scratch.Get "country_counts") .) 1) }}
        {{ end }}
    {{ end }}
{{ end }}

<script>
window.SUPPORTED_COUNTRIES = [
    {{ range $key, $val := ($.Scratch.Get "country_counts") }}
        {{ if ge $val 10 }}
            '{{ $key }}',
        {{ end }}
    {{ end }}
];
</script>
