{{ define "hero" }}
<div id="home-hero">
    <div class="container">
        <div id="home-hero-content">
            <div class="hero-left-col">
                <div id="home-hero-line-1">{{ T "home-hero-line-1" }} </div>
                <div id="home-hero-line-2"><span id="home-hero-word" aria-hidden="true"><noscript>{{ T "home-hero-word" }}</noscript><br></span></div>
                <div id="home-hero-desc">{{ T "home-hero-desc" | safeHTML }}</div>
            </div>
            <div class="hero-right-col">
                <a class="button button-primary" href="{{ "generator" | absURL }}#!request_type=access">{{ T "imported--generator-access-request-statement" | safeHTML }}</a>
                <a class="button button-secondary" href="{{ "generator" | absURL }}#!request_type=erasure">{{ T "imported--generator-erasure-request-statement" | safeHTML }}</strong></a>
                <a class="button button-secondary" href="{{ "generator" | absURL }}#!request_type=rectification">{{ T "imported--generator-rectification-request-statement" | safeHTML }}</a>
                <a class="button button-secondary" href="{{ "generator" | absURL }}#!request_type=objection">{{ T "imported--generator-objection-request-statement" | safeHTML }}</a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "main" }}
<main>
    <div id="home-content">
        <div id="hero-claim-box">
            <h1>{{ T "home-claim-title"}}</h1>
            <div class="claim-row">
                <div class="claim-column">
                    <div class="claim-illustration">
                        1
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-choose-company-title" }}</h2>
                        {{ T "home-claim-choose-company" | safeHTML }}
                    </div>
                </div>
                <div class="claim-column">
                    <div class="claim-illustration">
                        2
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-send-title" }}</h2>
                        {{ T "home-claim-send" | safeHTML }}
                    </div>
                </div>
                <div class="claim-column">
                    <div class="claim-illustration">
                        3
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-react-title" }}</h2>
                        {{ T "home-claim-react" | safeHTML }}
                    </div>
                </div>
            </div>
            <div class="claim-actions">
                <a id="home-claim-cta" class="button button-primary icon icon-arrow-right" href="{{ "generator" | absURL }}">{{ T "home-claim-button" }}</a>
            </div>
        </div>

    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

    {{ with $pages }}
        <section id="home-blog-section">
            <header>
                <h1>{{ T "home-blog-section-title" }}</h1>
                <p>{{ T "home-blog-section-desc" }}</p>
            </header>
            <div class="border-dash"></div>
            <ul class="article-list">
                {{ range first 3 $pages }}
                    <li>{{ partial "summary.html" . }}</li>
                {{ end }}
            </ul>
            <a class="button button-secondary icon-right icon-arrow-right" href="{{ "blog" | absURL }}" style="margin-left: 20px;">{{ T "home-blog-section-read-more" }}</a>
        </section>
    {{ end }}
</main>
{{ end }}
