{{ define "main" }}
<main>
    <div id="home-hero">
        <div id="home-hero-content">
            <div id="home-hero-line-1">{{ T "home-hero-line-1" }} </div>
            <div id="home-hero-line-2"><span id="home-hero-word">{{ T "home-hero-word" }}</span></div>
            <a class="button button-primary icon-pencil" href="{{ "generator" | absURL }}">{{ T "home-hero-line-2" }}</a>
            <!--<div id="home-hero-copy">-->
            <!--{{ T "home-hero-copy" | safeHTML }}-->
            <!--</div>-->
        </div>
    </div>

    <div id="home-features">
        <div class="home-feature">
            <div class="col40">
                <!-- TODO: Credit photographer (https://unsplash.com/photos/ilSnKT1IMxE). -->
                <img src="{{ "img/home-your-rights.jpg" | absURL }}">
            </div>
            <div class="col60">
                <h2>{{ T "home-feature-your-rights-title" }}</h2>
                <p>{{ T "home-feature-your-rights" (dict "articleUrl" ("blog/your-gdpr-rights" | absURL) ) | safeHTML }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="home-feature">
            <div class="col60">
                <h2>{{ T "home-feature-easy-requests-title" }}</h2>
                <p>{{ (T "home-feature-easy-requests" (dict "companyUrl" ("company" | absURL) "generatorUrl" ("generator" | absURL))) | safeHTML }}</p>
            </div>
            <div class="col40">
                <!-- TODO: Make sure to update image with the interface. -->
                <img src="{{ "img/home-send-requests.png" | absURL }}">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="home-feature">
            <div class="col40">
                <img src="{{ "img/home-get-answers.jpg" | absURL }}">
            </div>
            <div class="col60">
                <h2>{{ T "home-feature-answers-title" }}</h2>
                <p>{{ T "home-feature-answers" | safeHTML }}<!-- TODO: Write and link article. --></p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</main>
{{ end }}
