{{ define "main" }}
<main>
    <div id="home-hero">
        <div id="home-hero-content">
            <div id="home-hero-line-1">{{ T "home-hero-line-1" }} </div>
            <div id="home-hero-line-2"><span id="home-hero-word" aria-hidden="true"><noscript>{{T "home-hero-word"}}</noscript><br></span></div>
        </div>
    </div>
    <div id="home-content">
        <div id="hero-claim-box">
            <h1>{{ T "home-claim-title"}}</h1>
            <div class="claim-row">
                <div class="claim-column">
                    <div class="claim-illustration">
                        1
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-decide-title" }}</h2>
                        {{ T "home-claim-decide" | safeHTML }}
                    </div>
                </div>
                <div class="claim-column">
                    <div class="claim-illustration">
                        2
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-choose-company-title" }}</h2>
                        {{ T "home-claim-choose-company" | safeHTML }}
                    </div>
                </div>
                <div class="claim-column">
                    <div class="claim-illustration">
                        3
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-send-title" }}</h2>
                        {{ T "home-claim-send" | safeHTML }}
                    </div>
                </div>
                <div class="claim-column">
                    <div class="claim-illustration">
                        4
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-react-title" }}</h2>
                        {{ T "home-claim-react" | safeHTML }}
                    </div>
                </div>
            </div>
            <div class="claim-actions">
                <a id="home-claim-cta" class="button button-primary icon icon-arrow-right" href="{{ "generator" | absURL }}">{{ T "home-claim-button" }}</a>
            </div>
        </div>

        <!-- TODO: This obviously isn't the final design. -->
        <div id="home-reminders" style="margin-bottom: 50px;"></div>

        <div id="home-main-copy">
            {{ T "home-main-copy" }}
        </div>
    </div>
</main>
{{ end }}
