/* Framework */
.col75 { width: 75%; float: left; }
.col66 { width: 66.666666%; float: left; }
.col60 { width: 60%; float: left; }
.col50 { width: 50%; float: left; }
.col40 { width: 40%; float: left; }
.col33 { width: 33.333333%; float: left; }
.col30 { width: 30%; float: left; }
.col25 { width: 25%; float: left; }
.col10 { width: 10%; float: left; }
.clearfix { clear: both; }

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
    font-family: Georgia, serif;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    width: 80vw;
    max-width: 1024px;
    margin: auto;
}

h1, h2, h3 { line-height: 1.2; }
h1 { font-size: 1.7em; }
h2 { font-size: 1.4em; }

a, a:active, a:focus, a:visited {
    color: #1982c4;
    text-decoration: none;
}
a:hover, a:active { color: #0062b1; }

img.image {
    display: block;
    margin: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
table.table { width: 100%; }
table.table thead th, table.table tbody td {
    padding: 10px;
}

pre {
    white-space: pre-wrap;
    overflow: auto;
}

input[type=search], input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], input[type=number], input[type=date], textarea, select {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 7px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-family: Georgia, serif;
}
input:focus, textarea:focus {
    border: 1px solid #1982c4;
}
input:required {
    background: #ffffff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='9px' width='15px'><text x='0' y='15' fill='rgba(255, 139, 156, 0.9)' font-size='20' font-family='Georgia'>*</text></svg>") no-repeat right;

}
.form-group {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* see https://jonathan-harrell.com/advanced-css-form-styling/ */
label.fancy-label {
    position: absolute;
    top: -19px;
    left: 7px;
    font-size: 0.75em;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}
.form-group.fancy-fg { padding-bottom: 10px; }
.form-group.fancy-fg:last-of-type { padding-bottom: 0; }
input:placeholder-shown + label.fancy-label, textarea:placeholder-shown + label.fancy-label {
    opacity: 0;
    transform: translateY(1rem);
}
.button.disabled, button.disabled, a.button[href="javascript:void()"] {
    background: #888888;
    cursor: default;
}
button, .button {
    border-radius: 10px;
    border: none;
    padding: 7px;
    background-color: #1982c4;
    color: #ffffff;
    font-size: 16px;
    font-family: Georgia, serif;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a.button {
    display: block;
    color: #fff;
    padding: 7px;
    line-height: 1.2;
}
select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

header {
    background-color: #1982c4;
    color: #ffffff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .3);

    padding: 25px 0;
    margin-bottom: 15px;
}
header #header-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#logo {
    position: absolute;
    left: 0;
}
#logo a {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
    text-decoration: none;
}

nav#main-nav a, nav#main-nav a:visited {
    margin-left: 0.75em;
    color: #c5ebff;
    text-decoration: none;
}
nav#main-nav a:hover, nav#main-nav a:active, nav#main-nav a:focus { color: #b0d3e6; }

footer {
    border-top: 1px solid rgba(186, 186, 186, .51);
    padding: 10px 0;
    margin-top: 10px;
    font-size: 0.9em;
    text-align: right;
}

@media (max-width: 936px) {
    header .container {
        display: block;
        text-align: center;
    }
    #logo {
        position: relative;
    }
    nav a, nav a:visited {
        margin: 0;
        padding: 0 0.35em 0 0.35em;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} /* With thanks to bootstrap */

#generator-heading {
    float: left;
}

#generator-controls {
    margin-top: 1.2em;
    float: right;
}

/* PDF Viewer */
#pdf-viewer {
    border: 0;
    width: 100%;
    height: 800px;
}
#pdf-viewer.empty {
    display: none;
}
#pdf-controls {
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#pdf-controls > button, #pdf-controls > .button {
    float: right;
    margin-right: 10px;
}


/* Forms */
input[type=search].form-element, input[type=text].form-element, input[type=email].form-element, input[type=password].form-element, input[type=tel].form-element, input[type=url].form-element, input[type=number].form-element, input[type=date].form-element, textarea.form-element, select.form-element {
    width: 100%;
}
textarea.form-element {
    max-width: 100%;
    min-width: 100%;
    line-height: 1.6;
}
.dynamic-input-primaryButton[data-isprimary="true"] {
    background: #00db20;
}

#signature {
    border: 1px solid #000;
}
#tagxplanation {
    font-size: 9pt;
}

/* Search, mostly taken from https://www.algolia.com/doc/tutorials/search-ui/autocomplete/auto-complete */
.aa-input-container {
    display: inline-block;
    position: relative;
}
.algolia-autocomplete { width: 100%; }
.aa-input-search, input[type="search"].aa-input-search {
    padding: 12px 28px 12px 12px;
    width: 100%;
}
.aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(228, 228, 228, 0.6);
    width: 100%;
    box-sizing: border-box;
}
.aa-suggestion {
    padding: 12px;
    cursor: pointer;
}
.aa-suggestion + .aa-suggestion { border-top: 1px solid rgba(228, 228, 228, 0.6); }
.aa-suggestion:last-of-type { border-bottom: 1px solid rgba(228, 228, 228, 0.6); }
.aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35);
}
.algolia-branding {
    font-size: 1.3em;
    text-align: right;
    padding: 10px;
}
.algolia-branding img {
    height: 1em;
    margin-bottom: -0.3em;
}

/* Home */
#home-hero {
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: Georgia, serif;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
#home-hero-bg-image-container {
    width: 100%;
    height: 500px;
    overflow: hidden;

    position: absolute;
    top: 0;

    z-index: -1;
}
#home-hero-bg-image {
    width: calc(100% + 20px);
    height: 500px;
    object-fit: cover;

    filter: blur(5px);

    position: absolute;
    left: -10px;
}
#home-hero-line-1 {
    font-size: 2.5em;
    font-weight: bold;
}
#home-hero-word {
    font-family: "Special Elite", monospace;
    font-size: 1.05em;
}
#home-hero-line-2 {
    font-size: 4em;
    margin-top: -30px;
}
#home-hero-copy {
    width: 50%;
}

.home-feature { padding-top: 50px; }
.home-feature img {
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
.home-feature h2 { margin: 0; }

.contact-table td:nth-child(1) {
    font-weight: bold;
    padding-right: 10px;
}
