{{ define "title" }}
{{ T "cdb-company-title" . }} &middot; {{ .Site.Title }}
{{ end }}

{{ define "heading" }}
{{ T "cdb-company-heading" . | safeHTML }}
{{ end }}

{{ define "main" }}
<main class="narrow-page" style="overflow-wrap: break-word;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <a class="no-link-decoration" href="{{ "supervisory-authority" | absURL }}"><span class="icon inline-icon inline-icon-left icon-arrow-left"></span> {{ T "cdb-back-to-overview" }}</a>
        <span>
            <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.{{ .Lang }}" title="{{ T "cdb-cc0-explanation" }}" class="no-link-decoration"><img src="{{ "img/cc-zero-button.svg" | absURL }}"></a>
            <a href="{{ "db/sva" | absURL }}/{{ .Params.slug }}.json" title="{{ T "cdb-json-download" }}" class="no-link-decoration"><span class="icon inline-icon inline-icon-right icon-json-document" style="color: initial;"></a>
        </span>
    </div>

    <div id="company-details">
        <p>{{ T "adb-intro" . }}</p>

        {{ with .Params.address}}
            <div class="col50 col100-mobile"><strong>{{ T "cdb-address" }}</strong><br>{{ $.Params.name }}<br>{{ replace . "\n" "<br>" | safeHTML }}</div>
        {{ end }}

        {{ if or .Params.phone .Params.fax .Params.email .Params.web }}
            <div class="col50 col100-mobile">
                <table class="contact-table narrow-table">
                    {{ with .Params.phone }}<tr><td><strong>{{ T "cdb-phone" }}</strong></td><td>{{ . }}</td></tr>{{ end }}
                    {{ with .Params.fax }}<tr><td><strong>{{ T "cdb-fax" }}</strong></td><td>{{ . }}</td></tr>{{ end }}
                    {{ with .Params.email }}<tr><td><strong>{{ T "cdb-email" }}</strong></td><td><a href="mailto:{{ . }}">{{ . }}</a></td></tr>{{ end }}
                    {{ with .Params.web }}<tr><td><strong>{{ T "cdb-web" }}</strong></td><td><a href="{{ . }}" rel="nofollow">{{ . }}</a></td></tr>{{ end }}
                </table>
            </div>
        {{ end }}
        <div class="clearfix"></div>

        {{ if or (index .Params "pgp-fingerprint") (index .Params "pgp-url") }}
            <p>
                {{ with (index .Params "pgp-fingerprint") }}<strong>{{ T "cdb-pgp-fingerprint" }}</strong> <code>{{ . }}</code>{{ end }}<br>
                {{ with (index .Params "pgp-url") }}<strong>{{ T "cdb-pgp-url" }}</strong> <a href="{{ . }}" rel="nofollow">{{ . }}</a>{{ end }}
            </p>
        {{ end }}

        {{ with .Params.comments }}
            <p><strong>{{ T "cdb-notes" }}</strong></p>
            <ul>
                {{ range . }}
                    <li>{{ replace . "\n" "<br>" | safeHTML }}</li>
                {{ end }}
            </ul>
        {{ end }}

        {{ with .Params.sources }}
            <p><strong>{{ T "cdb-sources" }}</strong></p>
            <ul>
                {{ range . }}
                    <li><a href="{{ . }}" rel="nofollow">{{ . }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
    <div id="comments-widget" data-rating-enabled="1"></div>
</main>
{{ end }}

{{ define "scripts" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "identifier": "{{ .Params.slug }}",
  "name": {{ .Params.name }},
  {{ with .Params.address}}"address": {{ replace . "\n" ", " }},{{ end }}
  {{ with .Params.web }}"url": {{ . }},{{ end }}
  {{ if or .Params.phone .Params.fax .Params.email .Params.web }}
  "contactPoint": {
    "@type": "ContactPoint",
    {{ with .Params.phone }}"telephone": {{ . }},{{ end }}
    {{ with .Params.fax }}"faxNumber": {{ . }},{{ end }}
    {{ with .Params.web }}"url": {{ . }},{{ end }}
    {{ with .Params.email }}"email": {{ . }},{{ end }}
    "contactType": "customer support"
  }
  {{ end }}
}
</script>
{{ end }}
