$primary-color: #003BFF;
$primary-lighter-color: #009dff;
$primary-darker-color: #002cc0;
$accent-color: #01DDBB;
$accent-darker-color: #01DDBB;
$bg-color: #FFFFFF;
$bg-accent-color: #F0F7FF;

$text-font: #333;

$heading-font: "League Spartan", Helvetica, sans-serif;
$body-font: "Fira Sans", Helvetica, sans-serif;

$font-size: 16px;
