{{ partial "header" . }}

<main>
    <div class="grid">
        <div class="col50">
            <div class="request-buttons">
                <nav>
                    <a href="">Selbstauskunft</a>
                    <a href="">Löschantrag</a>
                    <a href="">Freitext</a>
                </nav>

                <div class="recepient-form">
                    <textarea id="request-recepient" class="form-element"></textarea>
                </div>

                <div class="request-form">
                    {{ partial "forms/access-request-form" . }}
                    {{ partial "forms/erasure-request-form" . }}
                    {{ partial "forms/generic-request-form" . }}
                </div>
            </div>
        </div>
        <div class="col50">
            <iframe id="pdf-viewer">
            </iframe>
        </div>
    </div>
</main>

{{ partial "footer" . }}